body {
    background: linear-gradient(45deg,#3CB9C0, #2CAACA);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

label {
    display: block;
}

input:not([type='checkbox']) {
    outline: 0;
    background-color: transparent;
    border-width: 0 0 1px;
    border-color: white;
    width: 100%;
    line-height: 3;
}

img {
    border-radius: 50%;
    margin-right: 10px;
}

p {
    padding-left: 10px;
}

button {
    margin: 15px auto;
    display: block;
    color: #2CAACA;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #2CAACA;
    padding: 15px;
    width: 180px;
    cursor: pointer;
}

#app {
    color: white;
    max-width: 320px;
    text-align: left;
    height: 100vh;
    margin: 0 auto;
}

.row {
    display: block;
    padding: 20px;
}

.profile {
    display: grid;
    grid-template-columns: max-content;
    background-color: white;
    margin: 10px;
    padding: 10px;
    color: #888888;
}

.profile-image {
    grid-column: 1;
    grid-row: 1;
}

.profile-name-title--single-line {
    grid-column: 2;
    grid-row: 1;
    cursor: pointer;
}

.profile-name-title--multiple-line {
    grid-column: 1;
    grid-row: 2;
    cursor: none;
    text-align: center;
}

.profile-name {
    color: #2CAACA;
    font-size: 22px;
}

.profile-details {
    width: 280px;
}

.profile-details label {
    font-weight: bold;
}

.image-center {
    margin: 0 auto;
}

.show-content {
    display: inline-block;
}

.hide-content {
    display: none;
}

.close-div {
    display: inline-block;
    height: 35px;
    width: 35px;
    background: #2CAACA;
    color: white;
    border-radius: 50%;
    text-align: center;
    position: relative;
    left: 45%;
    cursor: pointer;
}

.close-div:after{
    display: inline-block;
    content: "\00d7"; /* renders 'X' */
    font-size: 50px;
    font-weight: 100;
    line-height: 0.7;
}